.home{
    position: relative;
    padding-bottom: 0;
  
  }
  
  .home__container{
    padding-top: 4rem;
    row-gap: 3rem;
  }
  .home__data{
    text-align: center;
  }
  .home__subtitle{
    font-size:  var(--bigger-font-size);
    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;
  }
  .home__title{
    font-size: var(--bigger-font-size);
    font-weight: var(--font-black);
    margin: .5rem 0;
  }
  .home__subtitle,
  .home__title{
    letter-spacing: 1.5px;
  }
  
  .home__triangle{
    height: 325px;
    position: absolute;
    top: 48rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
  .home__triangle-1{
    width: 105px;
    background-color: var(--first-color);
  }
  .home__triangle-2{
    width: 205px;
    background-color: var(--first-color-alt);
  }
  .home__triangle-3{
    width: 305px;
    background-color: var(--first-color-dark);
  }
  .home__img{
    display: block;
    position: relative;
    z-index: 1;
    width: 500px;
    margin: 0 auto;
  }