[data-role="browse_membership_content"] > section,
[data-role="browse_coffee_content"] > section{
	width: 92%;
    margin: 0 auto;
/*    display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
}
/*@media only screen and (max-width: 1280px){
    [data-role="browse_pastries_content"] > section{
        background-color: red;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 900px){
    [data-role="browse_pastries_content"] > section{
        background-color: blue;
        grid-template-columns: 1fr;
    }
}*/
[data-role="browse_membership_content"] > section > div,
[data-role="browse_coffee_content"] > section > div{
    position: relative;
    border-radius: 4px;
}

/*[data-role="browse_pastries_content"] > section > div[data-showing-description="showing"],
[data-role="browse_coffee_content"] > section > div[data-showing-description="showing"]{
    transform: rotate3d(0, 2, 0, 180deg);
}
*/
[data-role="browse_membership_content"] > section > div > h3,
[data-role="browse_coffee_content"] > section > div > h3{
    text-transform: capitalize;
    font-size: 24px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    padding: 6px 12px;
    background: #343434;
    color: white;
    text-shadow: 1px 1px 1px #3434348c;
    border-radius: 4px 4px 0 0;
    position: relative;
    text-overflow:  ellipsis;
    overflow: hidden;
}
[data-role="browse_user_membership_content"] > section,
[data-role="browse_coffee_content"] > section{
	width: 92%;
    margin: 0 auto;
/*    display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
}
/*@media only screen and (max-width: 1280px){
    [data-role="browse_pastries_content"] > section{
        background-color: red;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 900px){
    [data-role="browse_pastries_content"] > section{
        background-color: blue;
        grid-template-columns: 1fr;
    }
}*/
[data-role="browse_user_membership_content"] > section > div,
[data-role="browse_coffee_content"] > section > div{
    position: relative;
    border-radius: 4px;
}

/*[data-role="browse_pastries_content"] > section > div[data-showing-description="showing"],
[data-role="browse_coffee_content"] > section > div[data-showing-description="showing"]{
    transform: rotate3d(0, 2, 0, 180deg);
}
*/
[data-role="browse_user_membership_content"] > section > div > h3,
[data-role="browse_coffee_content"] > section > div > h3{
    text-transform: capitalize;
    font-size: 24px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    padding: 6px 12px;
    background: #343434;
    color: white;
    text-shadow: 1px 1px 1px #3434348c;
    border-radius: 4px 4px 0 0;
    position: relative;
    text-overflow:  ellipsis;
    overflow: hidden;
}
.popular{
    position: absolute;
    top: 40px;
    left: 6px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 24px;
    z-index: 1;
    border-radius: 6px;
    letter-spacing: 3px;
    background-color: #14af2c;
    color: #e7e1e1;
    cursor: not-allowed;
    font-weight: 900;
    box-shadow: 0px 3px 6px 0px #34343482;
}
.exclusivo{
    position: absolute;
    top: 40px;
    left: 6px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 24px;
    z-index: 1;
    border-radius: 6px;
    letter-spacing: 3px;
    background-color: #ac8d06;
    color: #e7e1e1;
    cursor: not-allowed;
    font-weight: 900;
    box-shadow: 0px 3px 6px 0px #34343482;
}
.limitado{
    position: absolute;
    bottom: -30px;
    right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    z-index: 0;
    letter-spacing: 0px;
    color: #f7e65d;
    background-color: #a55252;
    text-align: center;
    cursor: not-allowed;
    padding: 12px 0px;
    width: 109px;
    border-radius: 6px;
}


[data-role="browse_membership_content"] > section > div > h4,
[data-role="browse_coffee_content"] > section > div > h4{
    position: absolute;
    background-color: rgb(52 52 52);
    padding: 4px 6px;
    border: 1px solid #343434;
    border-radius: 6px;
    font-size: 18px;
    top: 39px;
    right: 8px;
    color: white;
}
[data-role="browse_membership_content"] > section > div > img{
    background-color: gold;
    width: 100%;
}

[data-role="browse_membership_content"] > section > div > section,
[data-role="browse_coffee_content"] > section > div > section{
    position: absolute;
    bottom: 21px;
    left: 0px;
    font-size: 22px;
    background-color: #3434348a;
    width: 100%;
    height: 48px;
}
[data-role="browse_membership_content"] > section > div > section > span,
[data-role="browse_coffee_content"] > section > div > section > span{
    padding: 3px 12px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 0.2px;
    display: inline-block;
    text-shadow: 1px 1px 1px #3434348c;
}

[data-role="browse_coffee_content"] > aside,
[data-role="browse_membership_content"] > aside{
    background: #89715b;
    color: white;
    font-size: 18px;
    padding: 18px 24px;
    letter-spacing: 1px;
    line-height: 20px;
}
[data-role="browse_coffee_content"] > aside,
[data-role="browse_user_membership_content"] > aside{
    background: #89715b;
    color: white;
    font-size: 18px;
    padding: 18px 24px;
    letter-spacing: 1px;
    line-height: 20px;
}


[data-action="show_all"],
[data-action="show_popular"]{
    text-decoration: none;
    cursor: pointer;
    /*opacity: 0.6;*/
    /*transition: opacity 0.24s ease-in-out 0s;*/
    margin: 12px;
    padding: 6px 12px;
    float: right;
    font-size: 20px;
    border-radius: 6px;
}
[data-action="show_all"]:hover, 
[data-action="show_popular"]:hover{
    text-decoration: underline;
    opacity: 1;
}
[data-role="memberships"]{
    display: block;
    font-size: 1.2em;
    margin-top: 12px;
    margin-left: 24px;
    color: #a57449;
}
[data-selected="selected"]{
    background-color: #14af2c;
    color: #e7e1e1;
    cursor: not-allowed;
}
[data-selected="selected"]:hover{
    text-decoration: none;
}
[data-selected="not_selected"]{
    background-color: transparent;
}
.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-grid > div {
  flex: 1;
  margin: 2%;
  padding-bottom: 0;
  /* background-color: #343434; */
  min-width: 300px;
  border: 1px solid #b8b7b7;
}
.list{
  background-color: #464646;
  line-height: 24px;
  padding: 12px 24px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 2.6px;
  font-size: 24px;
}
/*=============== PRICING ===============*/
main > section > a{
  opacity: 0.6;
  cursor: n-resize;
  transition: opacity 0.24s linear 0s;
  float: right;
  color: white;
  margin: 6px 12px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: .1em;
  margin-top: 10px;
}

/*=============== CALCULATE ===============*/
main > section > h2{
  background-color: #464646;
  line-height: 24px;
  padding: 12px 24px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 2.6px;
  font-size: 24px;
}